/* write your css here */
.dot-grid-dark {
  height:fit-content;
  width: 100vw;
  background-image: radial-gradient(
    circle,
    rgba(11, 11, 11, 0.785) 1.5px,
    #000000 1.5px
  );
  background-size: 1rem 0.8rem;
  background-position: center center;
}

.dot-grid-light {
  height: auto;
  width: 100vw;
  background-image: radial-gradient(
    circle,
    rgb(216, 216, 216) 1px,
    #ffffff 0.4px
  );
  background-size: 0.8rem 0.8rem;
  background-position: center center;
}

.gradient-text {
  font-weight: 700;
  background: -webkit-linear-gradient(#00aeff, #0040ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-1 {
  font-weight: 700;
  background: -webkit-linear-gradient(#ff9100, #ff3300);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}