@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-pattern {
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
}

/* .shadow-white_1 {
  -webkit-box-shadow: -9px 9px 0px -3px rgba(252, 252, 252, 1);
  -moz-box-shadow: -9px 9px 0px -3px rgba(252, 252, 252, 1);
  box-shadow: -9px 9px 0px -1px rgba(252, 252, 252, 0.845);
} */
